section {
  justify-content: center;
  align-items: center;
  margin-left: 12rem;
}

tbody table {
  border: 2px solid;
}

.each-doll {
  padding: 0 2rem;
  margin-left: 2rem;
}

.each-emoji {
  margin-left: 24px;
}

.showNavigation {
  display: flex;
  margin-left: 10rem;
  margin-right: 30rem;
}

Button.edit {
  margin: 0 2rem;
}

nav {
  height: 15vh;
  /*  */
  display: flex;
  justify-content: space-between;
  background-color: rgb(122, 17, 70);
}

.dolls-link {
  margin-left: 25px;
  padding-top: 1.8rem;
  font-weight: 900;
  font-size: larger;
}

.new-doll {
  margin-right: 25px;
  padding-top: 1.8rem;
  font-weight: 900;
  font-size: larger;
  color: rgba(73, 44, 5, 0.945);
}

nav.new-doll {
  background-color: blue;
}

.newform {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 7px;
  margin-left: 135px;
  margin-right: 135px;
}

.form-group input {
  display: grid;
  justify-content: center;
  width: 35em;
  margin-top: 20px;
  margin-bottom: 2em;
  margin-left: 50px;
}

.newform form {
  background-color: darkgray;
  padding-top: 25px;
  padding-left: 25px;
}

.submit {
  position: relative;
  top: -35px;
}

input.is_check {
  width: 25px;
  height: 25px;
  margin-left: 150px;
}
